<%= form_with model: @task do |t| %>

  <div class="d-flex col 4">
      <%= t.label :title%>
      <%= t.text_field :title %>
  </div>

  <%= t.label :details %>
  <%= t.text_field :details %>
  <%= t.submit %>

    <% if params[:action] != "new" %>
        <%= t.check_box :completed %> 
        <%= t.label :completed %>;
    <% end %>
<% end %>

<%= link_to "Back to list", tasks_path %>